/* Style1 - Green and Orange with Blue */

/* General Style */

body {
	color: #ccc;
}

a:link,
a:visited {
	color: #90C306;
}

a:hover {
	color: #fff;
}

/* access */

a.large .button {
	background: url(../images/style1/access-large.png);
}

a.small .button {
	background: url(../images/style1/access-small.png);
}

a.default .button {
	background: url(../images/style1/access-med.png);
}

/* Layout */
#page-bg {
  background: #000 url(../images/style1/bg.jpg) 50% 0 no-repeat;
}

#mainbody {
	background: #1F1F1F url(../images/style1/head-bg-tabs.png) 0 0 repeat-x;
}

.suckerfish #mainbody {
	background: #1F1F1F url(../images/style1/head-bg-sucker.png) 0 0 repeat-x;	
}

#mainbody .shad-1 {
	background: url(../images/style1/shadow-l.png) 0 0 repeat-y;
}

#mainbody .shad-2 {
	background: url(../images/style1/shadow-r.png) 100% 0 repeat-y;
}


#mainbody #header {
	background: url(../images/style1/logo-tabs.png) 0 0 no-repeat;
}

.suckerfish #mainbody #header {
	background: url(../images/style1/logo-sucker.png) 0 0 no-repeat;
}

#content-bg {
	background: #1F1F1F;
}

#showcase {
	border-top: 1px solid #333;
	background: #1F1F1F url(../images/style1/showcase-bg.png) 0 0 repeat-x;
	border-bottom: 1px solid #000;
	color: #ccc;
}

#fakecolumn1 {
	border-left: 194px solid #1F1F1F;
}

#fakecolumn2 {
	background: url(../images/style1/left-div.png) 0 0 repeat-y;
}

div#inset {
	border-bottom: 1px solid #333;
}

#footer {
	background: #A75700 url(../images/style1/footer-bg.png) 0 0 repeat-x;
}

#bottom {
	background: url(../images/style1/bottom-bg.png) 0 0 repeat-x;
}

#bottom .shad-1 {
	background: url(../images/style1/bottom-r.png) 100% 0 no-repeat;
}

#bottom .shad-2 {
	background: url(../images/style1/bottom-l.png) 0 0 no-repeat;
}

#bottomshort {
	background: url(../images/style1/bottomshort-bg.png) 0 0 repeat-x;
}

#bottomshort .shad-1 {
	background: url(../images/style1/bottomshort-r.png) 100% 0 no-repeat;
}

#bottomshort .shad-2 {
	background: url(../images/style1/bottomshort-l.png) 0 0 no-repeat;
}

/* Modules */

div.moduletable h3,
div.module h3,
div.module-hilite1 h3,
div.module-hilite2 h3,
div.module-hilite3 h3,
div.module-hilite4 h3 {
	color: #ccc;
}

#rightcolumn div.module a:link,
#rightcolumn div.module a:visited,
div.module-hilite2 a:link,
div.module-hilite2 a:visited,
div.module-hilite3 a:link,
div.module-hilite3 a:visited,
div.module-hilite4 a:link,
div.module-hilite4 a:link {
	color: #fff;
	border-bottom: 1px #fff solid;
}

#showcase div.moduletable h3 {
	border-bottom: 4px solid #2C2C2C;
	color: #ccc;	
}

#leftcolumn div.moduletable {
	background: url(../images/style1/module-left-bg.png) 100% 100% no-repeat;
}

#leftcolumn div.moduletable h3 {
	border-bottom: 4px solid #2c2c2c;
}

#rightcolumn div.module h3,
div.module-hilite4 h3 {
	color: #fff;
	border-bottom: 4px solid #A75700;
}

div.module h3,
div.module-hilite1 h3 {
	color: #EB8A00;
	border-bottom: 4px solid #2C2C2C;
}

div.module-hilite2 h3 {
	color: #fff;
	border-bottom: 4px solid #44850E;	
}

div.module-hilite3 h3 {
	color: #fff;
	border-bottom: 4px solid #2B64B2;	
}

#footer div.moduletable h3 {
	color: #fff;
	border-bottom: 4px solid #A75700;
}

#footer div.moduletable {
	color: #fff;
}

div.module-hilite1,
#componentcolumn div.module {
	background: url(../images/style1/module-1-bg.png) 100% 100% no-repeat;
}

div.module-hilite2 {
	color: #fff;
	background: url(../images/style1/module-2-tr.png) 100% 0 no-repeat;
}

div.module-hilite2 div {
	background: url(../images/style1/module-2-tl.png) 0 0 no-repeat;
}

div.module-hilite2 div div {
	background: url(../images/style1/module-2-br.png) 100% 100% no-repeat;
}

div.module-hilite2 div div div {
	background: url(../images/style1/module-2-bl.png) 0 100% no-repeat;
}

div.module-hilite3  {
	color: #fff;
	background: url(../images/style1/module-3-tr.png) 100% 0 no-repeat;
}

div.module-hilite3 div {
	background: url(../images/style1/module-3-tl.png) 0 0 no-repeat;
}

div.module-hilite3 div div {
	background: url(../images/style1/module-3-br.png) 100% 100% no-repeat;
}

div.module-hilite3 div div div {
	background: url(../images/style1/module-3-bl.png) 0 100% no-repeat;
}

div.module-hilite4,
#rightcolumn div.module {
	color: #fff;
	background: url(../images/style1/module-4-tr.png) 100% 0 no-repeat;
}

div.module-hilite4 div,
#rightcolumn div.module div {
	background: url(../images/style1/module-4-tl.png) 0 0 no-repeat;
}

div.module-hilite4 div div,
#rightcolumn div.module div div {
	background: url(../images/style1/module-4-br.png) 100% 100% no-repeat;
}

div.module-hilite4 div div div,
#rightcolumn div.module div div div {
	background: url(../images/style1/module-4-bl.png) 0 100% no-repeat;
}

/* Top tabmenu styles */

#tabmenu a {
	color: #aaa;
	color: #ccc;
}



/* Top tabmenu styles - ru, en, de */
#tabmenu li.en {
	background-image: url(../images/style1/tabs-top-r-off-en.png);
}
#tabmenu li.en a {
	background-image: url(../images/style1/tabs-top-l-off-en.png);
	color: #aaa;
}


#tabmenu li.de {
	background-image: url(../images/style1/tabs-top-r-off-de.png);
}
#tabmenu li.de a {
	background-image: url(../images/style1/tabs-top-l-off-de.png);
	color: #aaa;
}


#tabmenu li.ru {
	background-image: url(../images/style1/tabs-top-r-off-ru.png);
}
#tabmenu li.ru a {
	background-image: url(../images/style1/tabs-top-l-off-ru.png);
	color: #aaa;
}


/**** CONTENT STYLES *****/

/* headers */

h1 {
	color: #90C306;
}

h2,h4,h5 {
	color: #ccc;
}

h3 {
	color: #EB8A00;
}


/* Joomla styles */
.small,
.modifydate,
.createdate,
div.mosimage_caption {
	color: #666;
}

.componentheading {
	color: #EB8A00;
	border-bottom: 4px solid #2C2C2C;	
}

.contentheading {
	color: #fff;
}

a.readon {
	background:  url(../images/style1/bullet-redo.png) 0 0 no-repeat;
}

span.pathway img {
	background: url(../images/style1/arrow-round.png) 50% 50% no-repeat;
}

table.adminform textarea {
  color: #666;
}

.sectiontableheader {
	background: #333;
	border-bottom: 1px solid #222;
}

.sectiontableentry1,
.sectiontableentry2 {
	border-bottom: 1px solid #222;
}

.sectiontableentry2 {
	background: #333;
}

/* List styles */

ul li {
	background: url(../images/style1/arrow-round.png) 0 3px no-repeat;
}

ul.arrow li {
	background: url(../images/style1/bullet-arrow.png) 0 0 no-repeat;
}

ul.check li {
	background: url(../images/style1/bullet-check.png) 0 0 no-repeat;
}

ul.big li.big1 {
	background: url(../images/style1/list-1.png) 0 -3px no-repeat;
}

ul.big li.big2 {
	background: url(../images/style1/list-2.png) 0 -3px no-repeat;
}

ul.big li.big3 {
	background: url(../images/style1/list-3.png) 0 -3px no-repeat;
}

ul.big li.big4 {
	background: url(../images/style1/list-4.png) 0 -3px no-repeat;
}

ul.big li.big5 {
	background: url(../images/style1/list-5.png) 0 -3px no-repeat;
}

ul.big li.big6 {
	background: url(../images/style1/list-6.png) 0 -3px no-repeat;
}

ul.big li.big7 {
	background: url(../images/style1/list-7.png) 0 -3px no-repeat;
}

ul.big li.big8 {
	background: url(../images/style1/list-8.png) 0 -3px no-repeat;
}

ul.big li.big9 {
	background: url(../images/style1/list-9.png) 0 -3px no-repeat;
}

ul.big li.ubuntu {
	background: url(../images/style1/ubuntu.png) 0 3px no-repeat;
}
ul.big li.opensuse {
	background: url(../images/style1/opensuse.png) 0 3px no-repeat;
}
ul.big li.freebsd {
	background: url(../images/style1/freebsd.png) 0 3px no-repeat;
}
ul.big li.fedora {
	background: url(../images/style1/fedora.png) 0 3px no-repeat;
}
ul.big li.mageia {
	background: url(../images/style1/mageia.png) 0 3px no-repeat;
}


/* Alert styles */

span.alert {
	background: #751010 url(../images/style1/icon-alert.png) 5px 5px no-repeat;
	border-top: 4px solid #5C1010;
	border-bottom: 4px solid #5C1010;
	color: #fff;
}

span.info {
	background: #2E5076 url(../images/style1/icon-info.png) 5px 5px no-repeat;
	border-top: 4px solid #244067;
	border-bottom: 4px solid #244067;
	color: #fff;
}

span.star {
	background: #8F8F42 url(../images/style1/icon-star.png) 5px 5px no-repeat;
	border-top: 4px solid #8F7510;
	border-bottom: 4px solid #8F7510;
	color: #fff;
}

span.note {
	background: #545454 url(../images/style1/icon-note.png) 5px 5px no-repeat;
	border-top: 4px solid #2E2E2E;
	border-bottom: 4px solid #2E2E2E;
	color: #fff;
}

span.download {
	background: #576A1C url(../images/style1/icon-download.png) 5px 5px no-repeat;
	border-top: 4px solid #2C4E16;
	border-bottom: 4px solid #2C4E16;
	color: #fff;
}

blockquote {
	background: #171717 url(../images/style1/quote-start.png) 5px 5px no-repeat;
	border-top: 4px solid #141414;
	border-bottom: 4px solid #141414;
}

blockquote p {
	background: url(../images/style1/quote-end.png) 100% 100% no-repeat;
}

/*

pre {
	background: #244067 url(../images/style1/icon-code.png) 5px 5px no-repeat;
	border-top: 4px solid #1B314D;
	border-bottom: 4px solid #1B314D;	
	color: #fff;
}
 */
/* Misc styles */

div.style {
	border: 4px solid #2C2C2C;
}

#rss {
	background: url(../images/style1/rssfeed.png) 0 0 no-repeat;
}
#rss:hover{
	background: url(../images/style1/rssfeed_on.png) 0 0 no-repeat;
}

#newsletter {
	background: url(../images/style1/newsletter.png) 0 0 no-repeat;
}
#newsletter:hover{
	background: url(../images/style1/newsletter_on.png) 0 0 no-repeat;
}

#forum {
	background: url(../images/style1/community.png) 0 0 no-repeat;
}
#forum:hover{
	background: url(../images/style1/community_on.png) 0 0 no-repeat;
}




#rssru {
	background: url(../images/style1_ru/rssfeed.png) 0 0 no-repeat;
}
#rssru:hover{
	background: url(../images/style1_ru/rssfeed_on.png) 0 0 no-repeat;
}

#newsletterru {
	background: url(../images/style1_ru/newsletter.png) 0 0 no-repeat;
}
#newsletterru:hover{
	background: url(../images/style1_ru/newsletter_on.png) 0 0 no-repeat;
}

#forumru {
	background: url(../images/style1_ru/community.png) 0 0 no-repeat;
}
#forumru:hover{
	background: url(../images/style1_ru/community_on.png) 0 0 no-repeat;
}



#forumde {
	background: url(../images/style1_de/community.png) 0 0 no-repeat;
}
#forumde:hover{
	background: url(../images/style1_de/community_on.png) 0 0 no-repeat;
}


/******* MENU SYSTEMS *******/

/* Default Joomla! menu */
a.mainlevel:link,
a.mainlevel:visited {
	background: url(../images/style1/menu-indicator.png) 100% 0 no-repeat;
}

a.mainlevel#active_menu,
a.sublevel#active_menu {
	color: #EB8A00;
}

/* SplitMenu & SplitMenu2 */
.splitmenu #nav-main a {
	color: #ccc;
}

.splitmenu #nav-main li {
	background-image: url(../images/style1/tabs-main-r-off.png);
}

.splitmenu #nav-main li a {
	background-image: url(../images/style1/tabs-main-l-off.png);
}

.splitmenu #nav-main li.active_menu {
	background-image:  url(../images/style1/tabs-main-r-on.png);	
}

.splitmenu #nav-main li.active_menu a {
	background-image: url(../images/style1/tabs-main-l-on.png);
	color: #EB8A00;
}

.splitmenu #nav-sub a {
	color: #ccc;
}

.splitmenu #nav-sub li {
	background-image: url(../images/style1/tabs-second-r-off.png);
}

.splitmenu #nav-sub li a {
	background-image: url(../images/style1/tabs-second-l-off.png);
}

.splitmenu #nav-sub li.active_menu {
	background-image:  url(../images/style1/tabs-second-r-on.png);	
}

.splitmenu #nav-sub li.active_menu a {
	background-image: url(../images/style1/tabs-second-l-on.png);
	color: #EB8A00;
}

.splitmenu #vert-menu a {
	background: url(../images/style1/menu-indicator.png) 100% 0 no-repeat;
}

.splitmenu #vert-menu li.active_menu a {
	color: #ccc;
}

.splitmenu #vert-menu li.active_menu li a {
	color: #EB8A00;
}

/* Suckerfish Menu */
.suckerfish #nav-sub {
	border-right: 1px solid #000;
}

.suckerfish #nav-sub ul {
	border-left: 1px solid #333;
}

.suckerfish #nav-sub li {
	border-left: 1px solid #000;
	border-right: 1px solid #333;	
}

.suckerfish #nav-sub a {
	color: #ccc;
}

.suckerfish #nav-sub li:hover a,
.suckerfish #nav-sub li.sfhover a {
	color: #fff;
}

.suckerfish #nav-sub li:hover,
.suckerfish #nav-sub li.sfhover {
	background: url(../images/style1/sucker-active-bg.png) 0 0 repeat-x;
	color: #333;
	border-left: 1px solid #ED9615;
	border-right: 1px solid #A75700;
}

.suckerfish #nav-sub li li a:link.daddy,
.suckerfish #nav-sub li li a:visited.daddy {
	background: url(../images/style1/sucker-bullet.png) 100% 50% no-repeat;
}

.suckerfish #nav-sub li li:hover,
.suckerfish #nav-sub li li.sfhover {
	background: #BE6B00;
}

.suckerfish #nav-sub li li a:link,
.suckerfish #nav-sub li li a:visited {
	color: #fff;
	border-top: 1px solid #ED9615;
	border-bottom: 1px solid #A75700;
}

.suckerfish #nav-sub li li {
	background: #CC7900;
	border-left: 1px solid #ED9615;
	border-right: 1px solid #A75700;
}
